<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add Genre</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">

        <div class="nav">
            <div>
                <a href="/movies">Movies</a>
                <a href="/genres">Genres</a>
            </div>

            <div>
                <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
                <a sec:authorize="!isAuthenticated()" href="/login">Login</a>
            </div>
        </div>

        <h1>Add Genre</h1>

        <form th:action="@{/genres/save}" th:object="${genre}" method="post">
            <input type="hidden" th:field="*{id}">

            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}">
            </div>

            <div class="actions">
                <button type="submit" class="button">Save</button>
                <a href="/genres" class="button">Back to genre list</a>
            </div>
        </form>

    </div>
</body>
</html>