<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <div class="nav">
            <a href="/movies">Movies</a>
            <a href="/genres">Genres</a>
        </div>

        <h1>Movie List</h1>

        <div class="actions">
            <a href="/movies/add" class="button">Add new movie</a>
        </div>

        <table>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="movie : ${movies}">
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.director}"></td>
                <td th:text="${movie.releaseYear}"></td>
                <td th:text="${movie.genre.name}"></td>
                <td><a th:href="@{/movies/{id}(id=${movie.id})}">Details</a></td>
                <td><a th:href="@{/movies/edit/{id}(id=${movie.id})}">Edit</a></td>
                <td><a th:href="@{/movies/delete/{id}(id=${movie.id})}" class="button button-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</body>
</html>