<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{movie.list.title}">Movie List</title>
</head>
<body>

<a th:href="@{/movies(lang='fi')}" th:text="#{lang.fi}">Suomi</a> |
<a th:href="@{/movies(lang='en')}" th:text="#{lang.en}">English</a>

<h1 th:text="#{movie.list.title}">Movie List</h1>

<a href="/movies/add" th:text="#{movie.add}">Add movie</a>

<table border="1">
    <tr>
        <th th:text="#{movie.title}">Title</th>
        <th th:text="#{movie.director}">Director</th>
        <th th:text="#{movie.year}">Release Year</th>
        <th th:text="#{movie.genre}">Genre</th>
        <th th:text="#{button.edit}">Edit</th>
        <th th:text="#{button.delete}">Delete</th>
    </tr>

    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.director}"></td>
        <td th:text="${movie.releaseYear}"></td>
        <td th:text="${movie.genre.name}"></td>
        <td><a th:href="@{/movies/edit/{id}(id=${movie.id})}" th:text="#{button.edit}">Edit</a></td>
        <td><a th:href="@{/movies/delete/{id}(id=${movie.id})}" th:text="#{button.delete}">Delete</a></td>
    </tr>
</table>

<br>
<a href="/genres" th:text="#{nav.genres}">Genres</a>

</body>
</html>