<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add Review</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">

        <div class="nav">
            <div>
                <a href="/movies">Movies</a>
                <a href="/genres">Genres</a>
            </div>

            <div>
                <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
                <a sec:authorize="!isAuthenticated()" href="/login">Login</a>
            </div>
        </div>

        <h1>Add Review</h1>
        <h2 th:text="${movie.title}">Movie</h2>

        <form th:action="@{/movies/{movieId}/reviews/add(movieId=${movie.id})}" th:object="${review}" method="post">
    <input type="hidden" th:field="*{id}">

    <div>
        <label>Rating (1-5)</label>
        <input type="number" th:field="*{rating}" min="1" max="5">
        <div class="error"
             th:if="${#fields.hasErrors('rating')}"
             th:errors="*{rating}"></div>
    </div>

    <div>
        <label>Comment</label>
        <textarea th:field="*{comment}"></textarea>
        <div class="error"
             th:if="${#fields.hasErrors('comment')}"
             th:errors="*{comment}"></div>
    </div>

    <div class="actions">
        <button type="submit" class="button">Save review</button>
        <a th:href="@{/movies/{id}(id=${movie.id})}" class="button">Back to movie details</a>
    </div>
</form>

    </div>
</body>
</html>